:root {
    --main-color-light-blue: #5271c2;
    --hover-color: #bc5b01;
    --main-color-dark-blue: #003580;
    --elment-indent: 5%;
}

* {
    box-sizing: border-box;
    font-family: Montserrat, sans-serif;
    font-size: 10px;
    margin: 0;
    padding: 0;
}

.main {
    margin: 0 30px;
    display: flex;
    justify-content: space-around;
}

.weekend-trip:hover {
    box-shadow: 0px 2px 20px 7px var(--main-color-light-blue);
}

.weekend-trip {
    width: 100%;
    height: 45vh;
    border: 1px solid #d3d3d3;
    border-radius: 3px;
    display: flex;
    flex-flow: column;
    padding: 20px;
    max-height: 350px;
    max-width: 1100px;
    align-items: flex-end;
    position: relative;
    margin: 0 auto;
    margin-bottom: 100px;

}

.weekend-trip-data__title {
    display: flex;
    align-items: baseline;
    flex-wrap: wrap;
    height: 45px;

}

.weekend-trip > div:nth-child(1) {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.weekend-trip > div > div:nth-child(1) {
    display: flex;
    align-items: flex-start;
    width: 100%;
}

.weekend-trip-data__title-name {
    font-size: 2rem;
    color: var(--main-color-light-blue);
    transition: color 0.5s linear;
    cursor: pointer;

}

.weekend-trip-data__title-name:hover {
    color: var(--hover-color);
}

.weekend-trip-img {
    max-width: 210px;
    border-radius: 2px;
    min-width: 210px;
}

.weekend-trip-img-like {
    position: absolute;
    top: 40px;
    left: 200px;
}

.weekend-trip-data {
    display: flex;
    flex-flow: column;
    margin-left: 3%;
}

.weekend-trip__price {
    display: flex;
    flex-flow: column;
}

.weekend-trip-data__title-stars {
    display: flex;
    align-items: center;
}

.weekend-trip-data__title-star {
    width: 11px;
}

.weekend-trip-data__title-stars-like {
    background: #febb02;
    width: 17px;
    height: 17px;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: rotate(180deg);
    margin: 0 2px;
}

.weekend-trip-data__title-stars-like img {
    width: 75%;
    transform: scale(-1, 1);
}

.weekend-trip__address a {
    color: var(--main-color-light-blue);
}

.weekend-trip__address {
    margin: 0 0 var(--elment-indent) 0;
}

.weekend-trip__description-people-count-data h5 {
    color: green;
    margin-bottom: 2%;
}

.weekend-trip__description-people-count-data h4 {
    margin-bottom: 2%;
}

.weekend-trip__description-people-count-data {
    margin-left: 63px;

}

.weekend-trip__description-people-count {
    display: flex;
}

.weekend-trip__description-people-count h4 {
    margin-left: 18px;
    color: var(--main-color-light-blue);
}

.weekend-trip__description {
    margin-top: var(--elment-indent);
}

.weekend-trip__mark h2 {
    color: var(--main-color-dark-blue);
    font-size: 1.5rem;
}

.weekend-trip__mark span {
    color: grey;
}

.weekend-trip__mark {
    display: flex;
    align-items: center;
    height: 35px;
    justify-content: space-between;
}

.weekend-trip__mark-count {
    background: var(--main-color-dark-blue);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 6px 6px 6px 0;
    height: 32px;
    width: 32px;
    min-width: 32px;
    font-size: 1.6rem;
}

.weekend-trip__mark-and-price {
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    height: 120%;
}

.weekend-trip__price {
    width: 108%;
}

.weekend-trip__price {
    display: flex;
    flex-flow: column;
    align-items: flex-end;
}

.weekend-trip__price h6 {
    color: grey;

}

.weekend-trip__price div {
    display: flex;
    align-items: center;
}

.weekend-trip__price div h1 {
    font-size: 1.5rem;
}

.weekend-trip__price div h6 {
    text-decoration: grey line-through;
}

.weekend-trip__price button {
    background: var(--main-color-light-blue);
    color: white;
    outline: none;
    border: none;
    height: 38px;
    width: 130px;
    font-size: 1.2rem;
    margin-top: var(--elment-indent);
    font-weight: 600;
    margin-bottom: var(--elment-indent);
}

.weekend-trip__price button:hover {
    background: var(--main-color-dark-blue);
    cursor: pointer;
}

.weekend-trip-food {
    position: absolute;
    height: 10%;
    width: 15%;
    background: #086908;
    color: white;
    display: flex;
    align-items: center;
    font-size: 1.3rem;
    justify-content: center;
    font-weight: 600;
    left: -21px;
    top: 34px;
}

.weekend-trip-food-triangle {
    border: 10px solid transparent;
    border-top: 10px solid green;
    border-right: 10px solid green;
    width: 20px;
    left: -21px;
    top: 69px;
    position: absolute;
}

